doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='import' href='/lib/polymer/polymer.html')
    link(rel='import' href='/components/todo-item.html')
  body
    block content
