doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      // polymer compatibility
      window.Polymer = window.Polymer || {};
      window.Polymer.dom = 'shadow';
    link(rel='import' href='/lib/polymer/polymer.html')
    link(rel='import' href='/components/todo-box.html')
    link(rel='import' href='/components/todo-item.html')
    link(rel='import' href='/components/todo-login.html')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='/javascripts/script.js')
  body
    block content
